<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DatabaseContext" 
         connectionString="Data Source=BACKTRACK;Initial Catalog=;Integrated Security=True;Pooling=False;Connect Timeout=30"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>